<!-- app/views/home/about.html.erb -->

<div class="container min-vh-100">

  <div class="about-content">   
    <h3>CoinRocket App</h3>
    <p>CoinRocket is a Ruby on Rails web application that is perfect for anyone looking to get a 360 overview of the crypto markets.</p>
  </div>

  <div class="about-content">  
    <h3>Features</h3>
    <ul>
      <li>Live prices - Stay up-to-date with the latest prices of over 200 cryptocurrencies</li>
      <li>Advanced Search and Filtering - Easily find and filter cryptocurrencies</li>
      <li>Detailed Cryptocurrency Information - Dive into the details of each cryptocurrency</li>
      <li>Personal Watchlist - Create your own watchlist and keep track of your favorite cryptocurrencies.</li>
      <li>Effortless Management - Seamlessly manage your watchlist by CRUD</li>
    </ul>
  </div>

  <div class="about-content">
    <h3>Data Sources & APIs</h3>
    <ul>
      <li><a href="https://api.coinranking.com/v2/coins" target="_blank">CoinRanking API</a> - Access real-time and reliable cryptocurrency data from CoinRanking's API.</li>
      <li><a href="https://github.com/faker-ruby/faker" target="_blank">Faker Gem</a> - Utilize the Faker gem to generate realistic fake user data for testing and demonstration purposes.</li>
    </ul>
  </div>

  <div class="about-content">
    <h3>Database ERD</h3>
    <img src="https://s2.loli.net/2023/07/04/qD2BV6iZSWutvad.png" class="img-fluid img-erd" alt="Database ERD">
  </div>

  <div class="about-content">
    <h3>Learn from the project</h3>
    <ol>
      <li>MVC Organization</li>
      <li>Using data from public and private APIs</li>
      <li>CRUD Scaffold</li>
      <li>Ruby on Rails Gems</li>
      <li>Database Association</li>
      <li>Fun with Controllers</li>
      <li>Git, Github</li>
    </ol>
  </div>

  <div class="about-content">
    <h3>About Me</h3>
    <p><%= @about_me %></p>

  </div>

</div>
