<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 mt-5">
      <div class="content">
        <h1 class="text-center mb-4">Buckle up, Risk-Takers!</h1>
        <p class="text-center">Welcome aboard the CoinRocket, where we promise a rollercoaster ride through the crypto chaos!</p>
        <p class="text-center">Experience heart-stopping live price swings and explore the cryptoverse's wildest top 200+ coins.</p>
        <p class="text-center">A great place helps you find more ways to lose sleep.</p>
      </div>
    </div>
  </div>
</div>
