<div class="container" style="height: 75vh;">
  <div class="row">
    <div class="col-lg-6 offset-lg-2 mt-5">
      <div class="content">
        <h2 class="text-center mb-4">Buckle up, Risk-Takers!</h2>
        <p class="text-center">Welcome aboard the CoinRocket, 
        where we promise a rollercoaster ride through the crypto chaos!</p>
        <p class="text-center">Experience heart-stopping live price swings and explore the 
        cryptoverse's wildest top 200+ coins.</p>
        <p class="text-center">It's the perfect place to discover more ways to lose sleep – and your sanity! 😄</p>
      </div>
    </div>
  </div>
</div>
