<div class="container" style="height: 75vh;">
  <div class="row d-flex flex-grow-1">
    <div class="col-lg-4 mt-5 d-flex">
      <div class="content text-center flex-grow-1">
        <h2 class="text-center mb-4">Shit Coin?  <br> Yes.. </h2>
        <img src="<%= asset_path('dogedoge.jpg') %>" alt="Image" class="img-fluid">
        <br>
        <p class="text-center">Welcome aboard the CoinRocket</p>
      </div>
    </div>
    <div class="col-lg-4 mt-5 d-flex">
      <div class="content flex-grow-1">
        <h2 class="text-center mb-4">Buckle up<br> Risk-Takers!</h2>
        <p class="text-center">We promise a rollercoaster ride through the crypto chaos</p>
        <p class="text-center">Experience heart-stopping live price swings and explore the wildest coins</p>
        <p class="text-center"> Create your own watchlist and enjoy the journey of losing money.</p>
        <p class="text-center">It's the perfect place to discover more ways to lose sleep 😄</p>
      </div>
    </div>
    <div class="col-lg-4 mt-5 d-flex">
      <div class="content flex-grow-1">
        <h2 class="text-center mb-4">Attention<br> What's Inside?</h2>
        <p class="text-center">Stay on the crypto rollercoaster with real-time prices of over 200 cryptocurrencies</p>
        <p class="text-center">Dive into the details of each cryptocurrency to explore more invaluable Tokens</p>
        <p class="text-center">Manage your watchlist carefully and never miss a chance to watch a shit coin 🚀</p>
      </div>
    </div>
  </div>
</div>
